@media screen and (min-width: 1200px) {
 
 .container {
  width: 1158px;
  }

/* -----------HERO---------- */
.hero {
 background-image: linear-gradient(rgba(46, 47, 66, 0.7),
 rgba(46, 47, 66, 0.7)), 
 url(../img/hero-bg.jpg);
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .hero {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
 rgba(46, 47, 66, 0.7)), 
 url(../img/hero-bg-2x.jpg);  
  }
}

/* -----------FEATURES-------------- */
  .features {
  padding-top: 120px; 
  padding-bottom: 120px; 
}

.features-list {
  flex-wrap: nowrap;
}

    .feature-icon-plate {
  width: 264px;
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
 } 
 
 .feature-icon {
  display: flex;
 }

 .features-point {
font-weight: 500;
text-align: left;
font-size: 20px;
line-height: 1.2;
 }

 .features-text {
font-weight: 400;
width: 264px;
  }

  .features-list-item:not(:last-child) {
margin-bottom: 0px;
}

/* --------------DOING---------- */

.doing {
  display: block;
  padding-bottom: 120px;
}

.doing-title, .custom-title {
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--heading-color);
margin-bottom: 72px;
}

.doing-list {
  display:flex;
  gap: 24px;
}

/* ----------OUR---TEAM---------- */
.team {
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-list {
  display: flex;
 flex-wrap: nowrap;
  gap: 24px;
}

.team > .container {
    width: 1158px;
}

/* -------------CUSTOMERS-------- */
.customers {
  padding-bottom: 120px;
  padding-top: 120px;
}

.customers > .container {
    width: 1158px;
}

.custom-item {
  width: calc((100% - 120px)/6);
  height: 88px;

}

/* ------FOOTER----- */
.footer > .container {
  width: 1158px;
 flex-direction: row;
}

.footer {
  padding-top:100px;
  padding-bottom: 100px;
}

.footer-right {
  margin-left: 120px;
}

.footer-subscr {
  padding-left: 80px;
  
  }

/* .footer-left { 
  display: flex;
  flex-direction: column;
 justify-content: center;
 align-items: center;*/

/* .footer-text { 
color: #E7E9FD;
margin-top: 16px;
margin-bottom: 72px;
}*/



}